.form {
  width: 100%;
}

.list {
  width: 100%;
}

.normalize-link {
  text-decoration: none;
}

.form-image img {
  max-width: 200px;
  max-height: 200px;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  padding: 10px;
  width: 100%;
}
